body{
    background-color: rgb(151, 186, 247);
}
.jeu{
    background-color: black;
    width: 350px;
    height: 450px;
    border-radius: 10px;
    margin-left:400px ;
    margin-top: 25px;
}
.pntrouge{
    background-color: red;
    color: white;
    margin-left: 45%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 20px;
}
.img1{
    display: flex;
    gap: 4px;
    margin-left: 40px;
    margin-top: 15px;
    
    
}
.img2{
    display: flex;
    gap: 4px;
    margin-left: 40px;
    margin-top: 4px;
    
}
.blanc1{
   background-color: white;
   width: 35px;
   height: 35px;
}
.blanc{
    margin-left: 75px;
    margin-top: 20px;
}
.gris1{
    width: 80px;
    height: 30px;
    background-color: rgb(70, 68, 68);
    border-radius: 8px;
    color: white;
}
.gris2{
    width: 80px;
    height: 30px;
    background-color: rgb(70, 68, 68);
    border-radius: 8px;
    color: white;
    
}
.sokhna{
    margin-top: 5px;
    margin-left: 15px;
    display: flex;
    gap: 5px;

}
.aicha{
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    gap: 5px;
}
.jaune{
    background-color: rgba(231, 161, 31, 0.877);
    width: 90px;
    height: 35px;
    border-radius: 10px;
    color: black;
}
.end{
    margin-left: 39%;
    margin-top: 15px;
}
.gris1:hover{
    background-color: red;
}
.gris2:hover{
    background-color: red;
}